| $("#unlock_#{dom_id(@monster)}").effect("highlight");
| $("#unlock_#{dom_id(@monster)}").html("#{j render partial: "/monster_unlocks/monster_unlock", locals: {monster: @monster, monster_unlock: MonsterUnlock.new}}");