
<div id="carousel-events" class="carousel slide" data-ride="carousel">

  <!-- Carousel Event Indicators -->

  <ol class="carousel-indicators">
    <li data-target="#carousel-events" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-events" data-slide-to="1"></li>
    <li data-target="#carousel-events" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->

  <div class="carousel-inner">

    <div class="item active">
      <img src="http://michahho.ca/monbattle/images/braveslide.gif" alt="...">
      <div class="carousel-caption">
        Fire
      </div>
    </div>


    <div class="item">
      <img src="http://michahho.ca/monbattle/images/braveslide2.gif" alt="...">
      <div class="carousel-caption">
        Earth
      </div>
    </div>

    <div class="item">
      <img src="http://getmonstercards.com/wp-content/uploads/2014/09/Water-Element-Monsters.png" alt="...">
      <div class="carousel-caption">
        Water
      </div>
    </div>
  </div>

    <a class="left carousel-control" href="#carousel-events" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#carousel-events" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>


<!-- This is for new to monbattle and why we started the site -->

<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">What is Monbattle?</h2>
          </div>

          <div class="panel-body">Monbattle is monster battling game made by fans of the genre!
            <br>
            <br>
            <button type="button" class="btn btn-primary">Learn More</button>
          </div>
        </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">New to Monbattle?</h2>
          </div>

          <div class="panel-body">Registration is free!
          <br>
          <br>
          <button type="button" class="btn btn-primary">Learn More</button></div>
        </div>
    </div>
  </div>
</div>



