=simple_form_for(@monster_skin) do |f|
  div class='form-group' id="monsterForm"
    =f.input :name
    =f.input :painter
    h4=f.label "Rarity of this skin"
    .form-control =f.collection_select :rarity_id, Rarity.all, :id, :name
    =f.input :avatar
    br
    =f.label :portrait
    =f.file_field :portrait
    br
    h4 Jobs That can use this skin
    =f.collection_check_boxes :job_ids, Job.order(:name), :id, :name
    =f.hidden_field :former_name, value: @monster_skin.name
    hr=f.submit "Upload Monster", class: 'btn btn-primary'