/ =form_for @party do |f|

/ h4 Make logic that you can only see battle_stage names that are not in use
/ # =f.hidden_field :user_id, value: User.find_by_user_name("NPC").id
/ # hr =f.submit "Create New NPC Party for Battle Stage", class: "btn btn-primary"



