| $("##{dom_id(@monster_unlock)}-socket1").html("#{j render partial: "/home/abilities_display_area", locals: {mon: @monster_unlock, socket_num: 2}}")
| $("##{dom_id(@monster_unlock)}-info-pane").html("#{j render partial: "/home/monster_display", locals: {mon: @monster_unlock}}").show()


