| $("##{dom_id(@monster_unlock)}-socket#{@socket_num}-info").html("#{j render partial: "/home/abil_in_sock", locals: {mon: @monster_unlock, socket_num: @socket_num }}")
/ | $(".abilities-display-area").html($("##{@monster_unlock}-socket#{@socket_num}-abils")).hide().slideDown()
/ setAbilAvail("#{@socket_num}")
/ setSocketIcon("#{@socket_num")



/ $(".abilities-display-area").html($("#monster_unlock_133-socket2-abils")).hide().slideDown() **Works**

