<br>

<div class="col-lg-12">
  <div class="panel panel-primary">
  <div class="panel-heading">
  <h2 class="panel-title">Sky Fortress Battlefield</h2>
</div>

    
<div class="field">

  <img src="assets/battlefield2.gif" class="inner-f">


<!-- Enemy Monster Images -->

  <div class="enemy">
    <input img src="assets/enemyMonSlot1.gif" type="image" class="0-img e-mon-0" alt="Submit">

    <input img src="assets/enemyMonSlot2.gif" type="image" class="1-img e-mon-1" alt="Submit">

    <input img src="assets/enemyMonSlot3.gif" type="image" class="2-img e-mon-2" alt="Submit">

    <input img src="assets/enemyMonSlot4.gif" type="image" class="3-img e-mon-3" alt="Submit">




<!-- Enemy Monster info -->

    <div class="0 e-mon-0-info">
      <img class="info" src="assets/enemyInfo.gif">
      <p class="name"> Enemy Slot 0 Name </p>
      <p class="current-hp"> 1,500 </p>
      <p class="max-hp"> 6,000 </p>
      <div class="hp e0-hp-contain">
        <img class="hp-bar" src="assets/HPBar1px.gif">
      </div>
    </div>

    <div class="1 e-mon-1-info">
      <img class="info" src="assets/enemyInfo.gif">
      <p class="name"> Enemy Slot 1 Name </p>
      <p class="current-hp"> 1,500 </p>
      <p class="max-hp"> 6,000 </p>
      <div class="hp e1-hp-contain">
        <img class="hp-bar" src="assets/HPBar1px.gif">
      </div>
    </div>

    <div class="2 e-mon-2-info">
      <img class="info" src="assets/enemyInfo.gif">
      <p class="name"> Enemy Slot 2 Name </p>
      <p class="current-hp"> 1,500 </p>
      <p class="max-hp"> 6,000 </p>
      <div class="hp e2-hp-contain">
        <img class="hp-bar" src="assets/HPBar1px.gif">
      </div>
    </div>

    <div class="3 e-mon-3-info">
      <img class="info" src="assets/enemyInfo.gif">
      <p class="name"> Enemy Slot 3 Name </p>
      <p class="current-hp"> 1,500 </p>
      <p class="max-hp"> 6,000 </p>
      <div class="hp e3-hp-contain">
        <img class="hp-bar" src="assets/HPBar1px.gif">
      </div>
    </div>
  </div>


  <!-- User's Monsters Images -->
  <div class="user mon-info-all">
    <input img src="assets/serpent.gif" type="image" class="0-img mon-0" alt="Submit">

    <input img src="assets/warrior.gif" type="image" class="1-img mon-1" alt="Submit">

    <input img src="assets/kamikaze.gif" type="image" class="2-img mon-2" alt="Submit">

    <input img src="assets/buffer.gif" type="image" class="3-img mon-3" alt="Submit">

  <!-- User Monster info -->
  <div class="0 mon-0-info">
    <img class="info-bar" src="assets/DetailedInfo.gif">
    <img class="avatar" src="assets/mon-slot-1-avatar.png">
    <div class="hp hp-contain">
      <img class="hp-bar" src="assets/HPBar1px.gif">
    </div>

    <p class="current-hp hp-num-current">5000</p>
    <p class="max-hp hp-num-max">6000</p>

    <div class="user"> 
      <div class="mon-0-action-buttons">
        <button type="button" class="button-attack btn btn-primary hide">Attack</button>
        <button type="button" class="button-ability btn btn-primary hide">Ability</button>
        <button type="button" class="button-evolve btn btn-primary hide">Evolve</button>
      </div>
    </div>
    
  </div>

    <div class="1 mon-1-info">
        <img class="info-bar" src="assets/DetailedInfo.gif">
        <img class="avatar" src="assets/mon-slot-1-avatar.png">
        <div class="hp hp-contain">
          <img class="hp-bar" src="assets/HPBar1px.gif">
        </div>
        <p class="current-hp hp-num-current">5000</p>
        <p class="max-hp hp-num-max">6000</p>
    </div>

    <div class="2 mon-2-info">
      <img class="info-bar" src="assets/DetailedInfo.gif">
      <img class="avatar" src="assets/mon-slot-1-avatar.png">
      <div class="hp hp-contain">
        <img class="hp-bar" src="assets/HPBar1px.gif">
      </div>
      <p class="current-hp hp-num-current">5000</p>
      <p class="max-hp hp-num-max">6000</p>
    </div>

    <div class="3 mon-3-info">
      <img class="info-bar" src="assets/DetailedInfo.gif">
      <img class="avatar" src="assets/mon-slot-1-avatar.png">
      <div class="hp hp-contain">
        <img class="hp-bar" src="assets/HPBar1px.gif">
      </div>
      <p class="current-hp hp-num-current">5000</p>
      <p class="max-hp hp-num-max">6000</p>
    </div>
  </div>

  <!-- User Mon's Action Buttons Shared -->

  
    
    <!-- User's AP Bar and End Turn Button -->

    <img src="assets/APbarUI.gif" class="ap-meter"> 
    <p class="current-ap ap-num-current">50</p>
    <p class="max-ap ap-num-max">300</p>
    <div class="ap-container">
      <img class="ap-gauge" src="assets/HPBar1px.gif">
    </div>
    <button type="button" class="end-turn-button btn btn-primary btn-lg">End Turn</button>
    
</div>

