<table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
  <tbody>
    <tr>
      <td width="640" valign="top" bgcolor="#070707">
        <table width="640" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td width="640" valign="top" bgcolor="#010000" height="1" style="font-size:0;line-height:0;">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                  height="7" width="1" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top" bgcolor="#010000">
                <table width="640" border="0" cellpadding="0" cellspacing="0" bgcolor="#010000">
                  <tbody>
                    <tr>
                      <td width="20" valign="top">
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" 
                          border="0" height="1" width="20" style="display:block;" alt="">
                      </td>
                      <td width="600" valign="top">
                        <table width="600" border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td width="600" valign="top" 
                                style="font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#74d9ff;">
                                You've been selected for the Titanfall Beta: 
                                <a rel="nofollow" target="_blank" style="color:#74d9ff;" 
                                  href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link10">
                                  <strong>Redeem your code on Origin</strong>
                                </a>.
                              </td>
                            </tr>
                            <tr>
                              <td width="600" valign="top" height="1" style="font-size:0;line-height:0;">
                                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" 
                                  border="0" height="4" width="1" style="display:block;" alt="">
                              </td>
                            </tr>
                            <tr>
                              <td width="600" valign="top" 
                                style="font-size:12px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#a1a1a1;">
                                If you are having trouble viewing this email, 
                                please 
                                <a rel="nofollow" target="_blank" 
                                  href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link1?t_params=COUPON_CODE_TRM1%3D88JJ-WCXF-3MVK-SKB7-ZV8C%26EMAIL%3Dhk.ling09%2540yahoo.com" style="color:#a1a1a1;">
                                  click here
                                </a>.
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td width="20" valign="top">
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" 
                          border="0" height="1" width="20" style="display:block;" alt="">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td width="640" valign="top" bgcolor="#010000" height="1" style="font-size:0;line-height:0;" id="yui_3_16_0_1_1426629579814_73819">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                  height="5" width="1" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link10" style="border:none;">
                  <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/hero.jpg" border="0" 
                    height="250" width="640" style="display:block;" alt="">
                </a>
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/hero_shadow.jpg" border="0" height="17" 
                  width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod1_title.jpg" border="0" height="58" 
                  width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <table width="640" border="0" cellpadding="0" cellspacing="0" bgcolor="#005374">
                  <tbody>
                    <tr>
                      <td width="10" valign="top" bgcolor="#005374"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                          height="1" width="10" style="display:block;" alt="">       
                      </td>
                      <td width="2" valign="top" bgcolor="#00b6ed"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                          height="1" width="2" style="display:block;" alt="">       
                      </td>
                      <td width="28" valign="top" bgcolor="#00151d"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                          height="1" width="28" style="display:block;" alt="">       
                      </td>
                      <td width="533" valign="top" bgcolor="#00151d" 
                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                        Congratulations: You've been selected for participation in the 
                        Titanfall&nbsp;Beta! 
                        <br><br>
                        The Titanfall Beta is now LIVE and ready for you to jump in. Here is your single-use code redeemable directly through Origin.          
                        <br><br>
                        <font color="#74d9ff" style="font-size:24px;"><strong>
                        88JJ-WCXF-3MVK-SKB7-ZV8C
                        </strong></font>           
                      </td>
                      <td width="55" valign="top" bgcolor="#00151d"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="55" style="display:block;" alt="">       
                      </td>
                      <td width="2" valign="top" bgcolor="#00b6ed"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="2" style="display:block;" alt="">       
                      </td>
                      <td width="10" valign="top" bgcolor="#005374"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="10" style="display:block;" alt="">       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod1_botborder.jpg" border="0" height="30" 
                  width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod2_title.jpg" border="0" height="77" 
                  width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <table width="640" border="0" cellpadding="0" cellspacing="0" bgcolor="#005374">
                  <tbody>
                    <tr>
                      <td width="10" valign="top" bgcolor="#005374"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="10" style="display:block;" alt="">       
                      </td>
                      <td width="2" valign="top" bgcolor="#00b6ed"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="2" style="display:block;" alt="">       
                      </td>
                      <td width="28" valign="top" bgcolor="#00151d"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="28" style="display:block;" alt="">       
                      </td>
                      <td width="414" valign="top" bgcolor="#00151d">
                        <table width="414" border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td valign="top">
                                <table width="414" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td width="14" valign="top" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#74d9ff;">
                                        1.
                                      </td>
                                      <td width="400" valign="top" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">      
                                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link16" style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                          Click here
                                        </a>. to download Origin. 
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top">
                                <table width="414" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td width="14" valign="top" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#74d9ff;">
                                        2.
                                      </td>
                                      <td width="400" valign="top" style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                        Once you've installed Origin, 
                                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link15" style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                          click here
                                        </a>. to redeem your code reference above. 
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top">
                                <table width="414" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td width="14" valign="top" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#74d9ff;">
                                        3.
                                      </td>
                                      <td width="400" valign="top" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                        Launch Origin and check your "My Games" library for the Titanfall Beta. 
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top">
                                <table width="414" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td width="14" valign="top" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#74d9ff;">
                                        4.
                                      </td>
                                      <td width="400" valign="top" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                        If you don't see Titanfall in your "My Games" library please click the refresh icon.
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td valign="top">
                                <table width="414" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td width="414" valign="top">
                                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaeapc/images/spacer.gif" border="0" 
                                  height="20" width="1" style="display:block;" alt=""> 
                              </td>
                            </tr>
                            <tr>
                              <td width="414" valign="top">
                                <font size="3" face="Arial, Verdana, Helvetica, sans-serif" color="#ffffff" 
                                  style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                The Titanfall Beta is <strong>limited-time only</strong>, 
                                don't miss any&nbsp;action!**
                                </font>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td width="174" valign="top" bgcolor="#00151d"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod2_hero.jpg" border="0" 
                          height="131" width="174" style="display:block;" alt="">       
                      </td>
                      <td width="2" valign="top" bgcolor="#00b6ed"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                          height="1" width="2" style="display:block;" alt="">       
                      </td>
                      <td width="10" valign="top" bgcolor="#005374"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                          height="1" width="10" style="display:block;" alt="">       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod2_botborder.jpg" border="0" 
                  height="30" width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top" bgcolor="#005374" height="1" style="font-size:0;line-height:0;">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="10" 
                  width="1" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod3_title.jpg" border="0" height="58" 
                  width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <table width="640" border="0" cellpadding="0" cellspacing="0" bgcolor="#005374">
                  <tbody>
                    <tr>
                      <td width="10" valign="top" bgcolor="#005374"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="10" style="display:block;" alt="">       
                      </td>
                      <td width="2" valign="top" bgcolor="#00b6ed"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="1" 
                          width="2" style="display:block;" alt="">       
                      </td>
                      <td width="616" valign="top">
                        <table width="616" border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td width="616" valign="top">
                                <table width="616" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td width="28" valign="top" bgcolor="#00151d"> 
                                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                                          height="1" width="28" style="display:block;" alt="">       
                                      </td>
                                      <td width="533" valign="top" bgcolor="#00151d" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                        We would appreciate your feedback about your game 
                                        experiences on our Titanfall Beta forums. To access this forum, please 
                                        click and bookmark the following&nbsp;link:
                                      </td>
                                      <td width="55" valign="top" bgcolor="#00151d"> 
                                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                                          height="1" width="55" style="display:block;" alt="">       
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td width="616" valign="top">
                                <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link9" 
                                  style="border:none;">
                                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod3_cta.jpg" 
                                  border="0" height="75" width="616" style="display:block;" alt=""></a>
                              </td>
                            </tr>
                            <tr>
                              <td width="616" valign="top">
                                <table width="616" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td width="28" valign="top" bgcolor="#00151d"> 
                                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" 
                                          border="0" height="1" width="28" style="display:block;" alt="">       
                                      </td>
                                      <td width="533" valign="top" bgcolor="#00151d" 
                                        style="font-size:16px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#ffffff;">
                                        Thank you for participating in the Titanfall Beta, we look 
                                        forward to seeing you in the game and in the Titanfall Beta&nbsp;forums! 
                                      </td>
                                      <td width="55" valign="top" bgcolor="#00151d"> 
                                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" 
                                          border="0" height="1" width="55" style="display:block;" alt="">       
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td width="2" valign="top" bgcolor="#00b6ed"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                          height="1" width="2" style="display:block;" alt="">       
                      </td>
                      <td width="10" valign="top" bgcolor="#005374"> 
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                          height="1" width="10" style="display:block;" alt="">       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/mod3_botborder.jpg" border="0" 
                  height="36" width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top" bgcolor="#005374" id="yui_3_16_0_1_1426629579814_73806">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" height="10" 
                  width="1" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/footer_divider.jpg" border="0" height="35" 
                  width="640" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top" bgcolor="#070707">
                <table width="640" border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td width="170" valign="top">
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link8" 
                          style="border:none;">
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/sm_respawn.jpg" border="0" 
                          width="170" height="80" style="display:block;" alt="RESPAWN"></a>
                      </td>
                      <td width="95" valign="top">
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link5" 
                          style="border:none;">
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/sm_ea.jpg" border="0" 
                          width="95" height="80" style="display:block;" alt="EA"></a>
                      </td>
                      <td width="50" valign="top">
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link13" 
                          style="border:none;">
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/sm_facebook.jpg" border="0" 
                          width="50" height="80" style="display:block;" alt="FACEBOOK"></a>
                      </td>
                      <td width="50" valign="top">
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link12" 
                          style="border:none;">
                          <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/sm_twitter.jpg" 
                            border="0" width="50" height="80" style="display:block;" alt="TWITTER">
                        </a>
                      </td>
                      <td width="50" valign="top">
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link14" 
                          style="border:none;">
                          <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/sm_youtube.jpg" border="0" 
                            width="50" height="80" style="display:block;" alt="YOUTUBE">
                        </a>
                      </td>
                      <td width="50" valign="top">
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link11" 
                          style="border:none;">
                          <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/sm_google.jpg" border="0" 
                            width="50" height="80" style="display:block;" alt="GOOGLE PLUS">
                        </a>
                      </td>
                      <td width="109" valign="top">
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link7" 
                          style="border:none;">
                          <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/sm_rating.jpg" 
                            border="0" width="175" height="80" style="display:block;" alt="RATING">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/legal_border.jpg" 
                  border="0" width="640" height="25" style="display:block;" alt="">
              </td>
            </tr>
            <tr>
              <td width="640" valign="top">
                <table width="640" border="0" cellpadding="0" cellspacing="0" style="background-color:#393939;">
                  <tbody>
                    <tr>
                      <td width="20" valign="top">
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" 
                          border="0" width="20" height="1" style="display:block;" alt="">
                      </td>
                      <td width="600" valign="top">
                        <font size="3" face="Arial, Verdana, Helvetica, sans-serif" color="#a1a1a1" 
                          style="font-size:11px;font-family:Arial, Verdana, Helvetica, sans-serif;color:#a1a1a1;">
                        **Availability subject to change. <br>
                        For more information, refer to the <a rel="nofollow" target="_blank" 
                          href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link9" 
                          style="color:#a1a1a1;">Beta Forums</a>. 
                        <br><br>
                        Make sure you receive your email from EA!
                        <br> 
                        Add 
                        <a rel="nofollow" ymailto="mailto:Titanfall@em.ea.com" target="_blank" href="mailto:Titanfall@em.ea.com" 
                          style="color:#a1a1a1;">Titanfall@em.ea.com</a> to your address book.
                        <br> 
                        If you no longer want us to contact you, 
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link2?email=hk.ling09@yahoo.com" 
                          style="color:#a1a1a1;">click here</a> to be 
                        <br>
                        removed from our mailing list or to change your preferences. 
                        <br><br> 
                        You can also write to: 
                        <br>
                        Privacy Policy Administrator
                        <br>
                        Electronic Arts Inc., 209 Redwood Shores Parkway, Redwood 
                        City,&nbsp;CA&nbsp;94065
                        <br><br>
                        ©2014 Electronic Arts Inc. All Rights Reserved. 
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link6" 
                          style="color:#a1a1a1;">Legal&nbsp;Notice</a> | 
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link3" 
                          style="color:#a1a1a1;">Privacy&nbsp;Policy</a> | 
                        <a rel="nofollow" target="_blank" href="http://em.ea.com/a/hBS-xClB7uauvB84UFPNxPiddRn/link4" 
                          style="color:#a1a1a1;">Terms&nbsp;of&nbsp;Service</a>
                        </font>
                      </td>
                      <td width="20" valign="top">
                        <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" 
                          border="0" width="20" height="1" style="display:block;" alt="">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td width="640" valign="top" style="background-color:#393939;">
                <img src="http://newsletters-cdn.ea.com/2014/titanfall/betaopenpc/images/spacer.gif" border="0" 
                  width="640" height="45" style="display:block;" alt="">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>