/ | $(".party-pane").effect("shake");
| $(".party-pane:").html("#{j render partial: "/home/mon_party_img", locals: {mon: @monster_unlock}}")
| $(".monPartyImg##{dom_id(@monster_unlock)}").show("slide", { direction: "right" }, 600);
/ | $(".monsters-image-area").html( "#{j render partial: "home/mon_image_display"}");