| $(".monPartyImg##{dom_id(@monster_unlock)}").hide("slide", { direction: "left" }, 600);
| $(".monsters-image-display").html("#{j render partial: "home/mon_image_display"}");
/ | $(".start-battle").html("#{j render partial: "home/battle_start"}");
/ | $(".party-pane").effect("shake");