<div class="guild-panel">
  <h1 class="guild-slide-title">Guild</h1>
  <h3 class="guild-slide-description">
    Guilds allow you to play with others and participate in Raid battles 
    for exclusive prizes
  </h3>
  <%= link_to "Join a guild", guilds_path, class: "guild-button find-guild-link" %>
  <br />
  <%= link_to "Create a guild", new_guild_path, class: "guild-button create-guild-link" %>
</div>