/ =form_for @ability_equipping do |f|
/   h4 Add logic to render edit form if you have an ability already equipping or your going to make duplicate records
/   div class='form-group'
/     -case true 
/       -when Ability.where(job_id: "#{@mon}").empty?
/         h1 No abilities to equip for this monster, have your admin create some!
/       -else
/         h4 Also add logic to show only unlocked abilities
/         .form-control = f.select "id", options_for_select(Ability.where(job_id: "#{@mon}").collect{|a| ["Abil name: " + a.name + ", Ability Description: " + a.description + ", AP cost: " + a.ap_cost.to_s, a.id]}, :selected => @ability_equipping.ability_id)
/         hr=f.submit class: 'btn btn-primary'