| $("#unlock_#{dom_id(@ability)}").effect("highlight");
-@ability_purchase = AbilityPurchase.new
| $("#unlock_#{dom_id(@ability)}").html("#{j render partial: "/ability_purchases/ability_purchase", locals: {ability: @ability}}");