h4 Socket 1
=render partial: "ability_equippings/socket_partial", locals: {monster: monster, slot: 1}

h4 Socket 2
=render partial: "ability_equippings/socket_partial", locals: {monster: monster, slot: 2}
