<h2 class="selection-title">
  Event Selection
</h2>
<div class="listing-box">
  <% @areas.each do |a| %>
      <% html = "
        <img src='https://s3-us-west-2.amazonaws.com/monbattle/images/clock.png'
          class= 'guild-battle-clock'>
        <h3 class='gbattle-time-left'> #{a.time_left}</h3>
        <h2 class='event-name'>#{a.name}</h2>
      " %>

      <%= link_to html.html_safe, guild_levels_path(area_name: a.name), 
        class: "individual-gbattle-listing",
        style: "background: url('#{a.banner}'); background-size: cover;" %>
        
  <% end %>
</div>