<div>
  <h4 class="leadership-heading title-rank">Rank</h4>
  <h4 class="leadership-heading title-guild">Guild</h4>
  <h4 class="leadership-heading title-battles">Battles</h4>
  <h4 class="leadership-heading title-points">Points</h4>
</div>
<div class="guild-ranking-listing">
  <div class="single-guild-leadership-listing">
    <span class="single-guild-stats rank">1</span>
    <span class="single-guild-stats guild-name">Dick Fight Club</span>
    <%= 
      image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/frank.jpg", 
        class: "guild-avatar")
    %>
    <span class="single-guild-stats guild-battle-count">10000</span>
    <span class="single-guild-stats guild-battle-points">10000</span>
  </div>

  <div class="single-guild-leadership-listing">
    <span class="single-guild-stats rank">1</span>
    <span class="single-guild-stats guild-name">Dick Fight Club</span>
    <%= 
      image_tag("https://s3-us-west-2.amazonaws.com/monbattle/images/frank.jpg", 
        class: "guild-avatar")
    %>
    <span class="single-guild-stats guild-battle-count">10000</span>
    <span class="single-guild-stats guild-battle-points">10000</span>
  </div>
</div>