<div class="guild-panel individual-guild guild-battle-listing">
  <a href="#" class="guild-selection-but raid-explanation">
    What's Raid
  </a>
  <a href="#" class="guild-selection-but raid-battle-link">
    Guild Battle
  </a>
  <a href="#" class="guild-selection-but raid-individual-rank-link">
    Individual Rank
  </a>
  <a href="#" class="guild-selection-but raid-guild-rank-link">
    Guild Rank
  </a>
  <div class="single-guild-panel listing-panel">
    <%= render "#{@partial}" %>
  </div>
</div>