=link_to image_tag("ability-equip-avatar.png"), ability_equipping_for_user_path(@available.first, {ability_equipping: {monster_unlock_id: mon, socket_num: socket_num, old_abil_purch_id: @current_abil_purchase}}), method: :patch, remote: true