<div class="contact-footer">
  <a href="https://www.facebook.com/monbattle"><%= image_tag("facebook-logo.png", class: "logo facebook") %></a>
  <a href="https://twitter.com/monbattle"><%= image_tag("twitter-logo.png", class: "logo twitter") %></a>
  <a href="http://www.youtube.com/user/monbattle"><%= image_tag("youtube-logo.jpg", class: "logo youtube") %></a>
</div>

<div class="extra-information">
    <%= link_to "About us", root_path, class: "btn btn-info" %>
</div>

<div class="quest-close-footer">
</div>