<div class="jumbotron sweet-home">
  <h1>Please sign in to begin journey!</h1>
  <p></p>
  <br />
  <%= link_to "Sign in", user_omniauth_authorize_path(:facebook), class: "btn btn-success btn-lg" %>
</div>