<% @notices.each do |notice| %>
  <div id="<%= dom_id(notice)%>" class="news-entry">
    <% case notice.category %>
      <% when "News" || "Update" %>
        <a class="news-entry-click" data-remote="true"
           href="/facebook?filter=<%= notice.title %>">
          <div class="notice-type success"><%= notice.category %></div>
          <p class="notice-title"><%= notice.title %></p>
        </a>
      <% when "Server" %>
      <% when "Event" %>
      <% when "Article" %>
    <% end %>
  </div>
<% end %>