<div class="store-tabs">
  <div class="tab monster-store-tab" data-tab="monster-store">MONGUARDS</div>
  <div class="tab ability-store-tab current-tab" data-tab="ability-store">ABILITIES</div>
  <div class="tab gem-store-tab" data-tab="gem-store">RUBIES</div>
</div>