<div class="ascending">
  <h2>Ascend Monsters</h2>
  <div class="monster-list">
    <h3 class="list-title">Capable of Ascension:</h3>
    <div class="ascend-list">
      <% @ascension.monsters.each do |s| %>
        <%= link_to (
              image_tag("#{s.default_skin_img}", 
              class: "ascend-mon-avatar")
            ), 
            ascend_monster_path(ascend_monster: s.name),
            id: s.name,
            remote: true
         %>
      <% end %>
    </div>
  </div>
  <div class="ascend-monster">
    <%= render partial: "ascend_monster", locals: {ascension: @ascension} %>
  </div>
</div>