<div class="jumbotron">
  <h1>Welcome to Monbattle</h1>
  <p>Please give us feedback!</p>
  <%= link_to "Prepare for your battle", battle_preparation_path, class: "btn btn-success btn-lg" %>
</div>
      <%#= link_to "Sign in", new_user_session_path, class: "btn btn-default" %>
      <%#= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
