<div class="the_ultimate_news_page">
  <%= render "carousel" %>
  <h3 class="news-list-title">What's New</h3>
  <div class="news-list">
    <%= render "notice_list" %> 
  </div>
  <div class="news-detail">
    <%= render partial: "news_detail", locals: {notice: @notice} %>
  </div> 
</div>


