<% if current_user %>
  <div class="store-front">
    <%= image_tag("premium-summon.png", class: "premium-summon-logo") %>
    <input type="image" src="https://s3-us-west-2.amazonaws.com/monbattle/images/summon-button.png?X-Amz-Date=20141218T011304Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=f44b54274805d7dbd4e043d478524c3c3580bc360f5a50143a1ed8d0b3c68f73&X-Amz-Credential=ASIAIG4NS2BLCT3UE3ZQ/20141218/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPf//////////wEakAIWBEI6A9pROr7PdR6ccHgciolRwKIIDMRxtbagmDiTztASIfp2C8XWdzjTS6Y/C/ahzb4MbBvlDGfVrkzvCufgucnnstFjpOGGdbRMjeXRw8qA35SJ6JHbpoVF9EWB70hbsnjB6xctheXXn47c56ktO38ZnoiqYlZc1S/A32WaQGZl6a/rrmlPetMlK/Z4sMbten2TCwP9HSZDOZ85zlJEX8hV7ceVMHwzBb%2BgnsUup49uKh6Kp4UA2LoKp2bi7C%2Buod1qOjrgpx/BfEr/snkfd7nJZXFPiFGIaA/HbasC%2Bv3uju4PPtxqXg%2BOb2Vc6nckINx/aoTwC3TxGY4R4cXxQWqk3oL8rpsJSeUog/4CYSC76sekBQ%3D%3D" alt="Submit" class="king-roll">
    <div class="store-message">
      <span>Master, I sense new monsters!</span>
      <span>New monsters include: Hotspot, SPook, Grimrock, and Uorabora</span>
      <span>New Abilities include: Reckless STrike, Sword Summit, and Gravity Bomb</span>
    </div>
    <%= image_tag("ai-happy-avatar.png", class: "ai-happy-avatar") %>
  </div>

  <div class="store-overlay">
    <div class="panel-body roll-message">
      Fuck Yeah
    </div>
  </div>
<% else %>
  <%= render "no_user" %>
<% end %>