<% if current_user %>
  <div class="store-front">
    <%= image_tag("premium-summon.png", class: "premium-summon-logo") %>
    <input type="image" src="../assets/summon-button.png" alt="Submit" class="king-roll">
    <div class="store-message">
      <span>Master, I sense new monsters!</span>
      <span>New monsters include: Hotspot, SPook, Grimrock, and Uorabora</span>
      <span>New Abilities include: Reckless STrike, Sword Summit, and Gravity Bomb</span>
    </div>
    <%= image_tag("ai-happy-avatar.png", class: "ai-happy-avatar") %>
  </div>

  <div class="store-overlay">
    <div class="panel-body roll-message">
      Fuck Yeah
    </div>
  </div>
<% else %>
  <%= render "no_user" %>
<% end %>