<div class="battle_level">
  <% @areas.each do |a| %>
    <%= link_to a.name, new_battle_path(level_filter: a.name), remote: true, 
        class: "btn btn-primary map-level #{a.region_name}", id: a.name.delete(" ") %>
  <% end %>
</div>

<div class="level-description">
  <%= form_for(Battle.new) do |f| %>
    <% @levels.each do |level| %> 
      <%= f.button "#{level.name}", :name => "battle[battle_level_id]", :value => "#{level.id}", 
      class: "btn btn-primary", id: "#{level.name.delete(' ')}" %>
    <% end %>
  <% end %>
</div>

