<%= image_tag("mon-slot-1-avatar.png", class:"avatar") %>
<div class="hp">
  <%= image_tag("HPBar1px.gif", class: "bar") %>
</div>
<div class="num">
  <p class="current-hp"><%= mon.max_hp %></p>
  <p class="max-hp">/ <%= mon.max_hp %></p>
</div>