<br>
<div class="col-md-12">
  <div class="panel panel-primary" style="width:960px">
    <div class="panel-heading">
      <h2 class="panel-title">Sky Fortress Battlefield</h2>
    </div>

    <div class="panel-body" style="padding:0px">
      <div id="battlefield">
        <img src="assets/battlefield2.gif" class="innerBattlefield">

        <!-- User's Monsters -->
        <div class="user-monsters">

          <div class="mon-slot-1"> <!-- User's Monster Info Slot 1-->

            <div id="mon-slot-1-info">
              <img src="assets/MonsterInfoUI.gif" id="monSlot1Info">
              <img src="assets/mon-slot-1-avatar.png" id="mon-slot-1-avatar">
              <p id="mon-slot-1-name"> Mon Slot 1 Name </p>
              <span><img id="mon-slot-1-hp" src="assets/HPBar1px.gif"></span>
            <div>

            <input id="mon-slot-1" type="image" class="monslot1attack" src="assets/serpent.gif" alt="Submit">

            <div class="mon-slot-1-buttons"> <!-- User's Monster Slot 1 Action Buttons -->
              <button type="button" class="actionButton mon-1-button-1 btn btn-primary hide" id="attack">Attack</button>
              <button type="button" class="actionButton mon-1-button-2 btn btn-primary hide">Ability</button>
              <button type="button" class="actionButton mon-1-button-3 btn btn-primary hide">Evolve</button>
            </div>

          </div>


          <div class="mon-slot-2"> <!-- User's Monster Slot 2-->

            <div class="mon-slot2-buttons">
            </div>

            <img src="assets/MonsterInfoUI2.gif" id="monSlot2Info">
            <input id="monslot2" type="image" class="monslot2attack"  src="assets/warrior.gif" alt="Submit">

          </div>

          <div class="mon-slot-3"> <!-- User's Monster Slot 3-->

            <input id="mon-slot-3" type="image" class="monslot3attack" img src="assets/kamikaze.gif" alt="Submit">
            <img src="assets/MonsterInfoUI.gif" id="monSlot3Info">

            <div class="mon-slot-3-buttons"> <!-- User's Monster Slot 3 Action Buttons -->
              <button type="button" class="actionButton mon-3-button-1 attack3 btn btn-primary hide">Attack</button>
              <button type="button" class="actionButton mon-3-button-2 btn btn-primary hide">Ability</button>
              <button type="button" class="actionButton mon-3-button-3 btn btn-primary hide">Evolve</button>
            </div>

          </div>


          <!-- User's Monster Slot 4-->
          <img src="assets/MonsterInfoUI.gif" id="monSlot4Info">
          <input id="monslot4" type="image" class="monslot4attack" img src="assets/buffer.gif" alt="Submit">
        </div> <!-- Closes off the user monsters all-->

        <!-- User Monster info -->

        <div class="enemy-monsters-all"> <!-- All Enemy Monsters -->

          <img src="assets/MonsterInfoUI.gif" id="enemyInfo">

          <div class="enemy-slot-1">
            <input class= "enemy" id="enemy-slot-1" img src="assets/enemyMonSlot1.gif" type="image" class="enemy" alt="Submit">

            <div class="enemy-slot-1-info hide">
              <img src="assets/enemy-slot-1-avatar.gif" id="enemy-slot-1-avatar">
              <h4 id="enemy-slot-1-name"> Enemy Slot 1 Name </h4>
              <h4 class="enemy-slot-1-current-hp"> 1,500 </h4>
              <h4 class="enemy-slot-1-max-hp"> 6,000 </h4>
              <img id="enemy-slot-1-hp" src="assets/HPBar1px.gif">
            </div>
          </div>

          <!-- Enemy Info Bar Slot 2 -->
          <input class="enemy" img src="assets/enemyMonSlot2.gif" id="enemy-slot-2"  type="image" class="enemy" alt="Submit">

          <div class="enemy-slot-2-info hide">
              <img src="assets/enemy-slot-2-avatar.png" id="enemy-slot-2-avatar">
              <p id="enemy-slot-2-name"> Enemy Slot 2 Name </p>
              <img id="enemy-slot-2-hp" src="assets/HPBar1px.gif">
          </div>



          <!-- Enemy Image Slot 3 and 4 -->
          <input class="enemy" img src="assets/enemyMonSlot3.gif" id="enemy-slot-3" type="image" alt="Submit">
          <input class="enemy" img src="assets/angel.gif"         id="enemy-slot-4" type="image" alt="Submit">

        </div>

          <img src="assets/APbarUI.gif" id="apMeter"> <!-- AP and End Turn Button -->
          <button type="button" id= "endTurnButton" class="btn btn-primary btn-lg">End Turn</button>



      </div>
    </div>
  </div>
</div>





