.abil-row id=dom_id(ability)
  =render partial: "abilities/abil_row", locals: {ability: ability}
.row.abil-effects-row id="#{dom_id(ability)}-effects-row"
  =render partial: "abilities/abil_effects", locals: {ability: ability}