-ability.effects.alphabetical.each do |effect|
  .col-md-6.effect-div.col-abils id="#{dom_id(effect)}-eff"
    / =render partial: "", locals: {ability: ability, effect: effect}
    =simple_form_for(effect, remote: true) do |f|
        =f.submit "Effect", class: 'btn btn-primary btn-sm eff-save', id: "#{dom_id(effect)}-save"
        =f.text_field :name, class: "eff-name"
        =f.text_field :stat_change, class: "eff-cost-input"
        ="D"
        =f.text_field :duration, class: "dur-input"
        ="R"
        =f.text_field :restore, class: "dur-input"
        =f.collection_select :target_id, @effect_targets, :id, :name
        =f.collection_select :stat_target_id, @stat_targets, :id, :name