-if @ability.errors.any?
  | $("##{dom_id(@ability)}-abil-rows").html("You fucked up bad this time Frank, check console for error").effect("pulsate", 2000).effect("highlight").hide("explode", {pieces: 24 }, 2000)
-else
  | $("##{dom_id(@ability)}-abil-rows").effect("highlight");
  | $("##{dom_id(@ability)}-save").hide();

  | $("##{dom_id(@ability)}-effects-row").html("#{j render partial: "abilities/abil_effects", locals: {ability: @ability}}")

  / | $("##{dom_id(@ability)}").html("#{j render partial: "abilities/abil_row", locals: {ability: @ability}}");

  -@ability = Ability.new






/ <!-- $("#edit_#{dom_id(@ability)}").html("#{j render partial: "/abilities/ability", locals: {ability: @ability}}"); -->

/ <!-- $.ajax({
/   url: "http://localhost:3000/abilities/" + <%= @ability.id %>,
/ =======
/ $.ajax({
/   url: "/abilities/" + <%= @ability.id %>,
/ >>>>>>> d417bfd7b096abb2cf80d0a0c95e9cabf66cd2b7
/   method: "get",
/   dataType: "json",
/   error: function() {
/     return alert("No AJAX for you Frank");
/   },
/   success: function(response) {
/     window.ability = response;
/     $(".modal-header span").trigger("click");
/     $("#ability_" + ability.id + "-name").text(ability.name);
/     $("#ability_" + ability.id + "-row").fadeOut(100).fadeIn(800);
/     $("#ability_" + ability.id + "-row" + " " + ".ap-cost").text(ability.ap_cost);
/     $("#ability_" + ability.id + "-row" + " " + ".description").text(ability.description);
/     $("#ability_" + ability.id + "-row" + " " + ".element").text(ability.elementa);
/     $("#ability_" + ability.id + "-row" + " " + ".target").text(ability.targeta);
/     $("#ability_" + ability.id + "-row" + " " + ".stat-target").text(ability.stat);
/     $("#ability_" + ability.id + "-row" + " " + ".stat-change").text(ability.stat_change);
/     $("#ability_" + ability.id + "-row" + " " + ".image img").attr("src", ability.img);
/     $("#ability_" + ability.id + "-row" + " " + ".portrait img").attr("src", ability.port);
/     $("#ability_" + ability.id + "-row" + " " + ".mp-cost").text(ability.mp_cost);
/     $("#ability_" + ability.id + "-row" + " " + ".gp-cost").text(ability.gp_cost)
/   }
/ }); -->
