@mixin row-set($font-size) {
  font-size: $font-size;
  padding-top: 3px;
  overflow: hidden;
  white-space: nowrap;
  .col-abils {
    // border: 1px solid black;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    p {
      margin: 0px;
    }
  }
  select {
    background-color: black;
  }
}

@mixin dimensions($width, $height) {
    width: $width;
    height: $height;
}

.filter-search {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  .search-row {
    margin-bottom: 5px;
    .col-md-1, .col-md-2, .col-md-3 {
      padding: 0px 0px 0px 0px;
      overflow: hidden;
      white-space: nowrap;
    }
    .new-abil-button {
      input {
        width: 5px;
        height: 20px;
      }
    }
    select {
      @include dimensions(100%, 20px);
    }
    p {
      margin-bottom: 5px;
      font-weight: bold;
    }
    input {
      @include dimensions(98%, 30px);
      margin: auto;
    }
  }
  .btn-reset {
    @include dimensions(95%, 40px);
    margin: auto;
  }
  .btn-filt {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .btn-on {
    box-shadow: 2px 2px 2px 0px black;
    border: 1px solid black;
    border-radius: 3px;
  }
}

.abilities {
  @include dimensions(100%, 400px);
  overflow-y: scroll;
  border: 2px solid black;
  .ability {
    border: 2px solid blue;
    padding-left: 3px;
    padding-right: 3px;
  }
  .abil-heading {
    color: red;
  }
  .abil-row {
    padding-left: 15px;
    @include row-set(12px);
    .cost-input {
      @include dimensions(45px, 20px);
    }
    .desc-input {
      @include dimensions(495px, 20px);
    }
    .costs-row {
      display: none;
      .abil-imgs {
        .abil-img {
          @include dimensions(50%, 50%);
        }
      }
    }
    .eff-sel-row, .jobs-row, .images-row, .show-jobs-row {
      border: 1px solid grey;
      display: none;
    }
    .default-display-row {
      .abil-name {
        @include dimensions(100%, 20px);
        color: blue;
        font-weight: bold;
      }
      .btn-save {
        @include dimensions(100%, 20px);
        padding-left: 15px;
        left: 0;
        right: 0;
        font-size: 10px;
        display: none;
        color: black;
      }
      .val-input {
        @include dimensions(60%, 15px);
      }
      .abil-drop {
        background-color: black;
      }
    }
  }
}

.abil-effects-row {
  @include row-set(12px);
  border: 1px solid grey;
  padding-left: 15px;
  padding-top: 10px;
  display: none;
  .effect-div {
    .eff-name {
      color: red;
      @include dimensions(150px, 20px);
    }
    .eff-cost-input {
      @include dimensions(50px, 20px);
    }
    .eff-save {
      @include dimensions(40px, 25px);
      font-size: 8px;
      // display: none;
    }
    .dur-input {
      @include dimensions(25px, 20px);
    }
    select {
      @include dimensions(100px, 20px);
    }
  }
}