@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Sigmar+One");

$theme-background-color: rgba(10, 170, 230, 0.70);

@mixin flipped() {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
};

.turn-end {
  background-color: rgba(109,201,106,0.65) !important;
  border-color: rgba(109,201,106,0.65) !important;
};

.flipped {
  @include flipped();
};

.ability-on {
  z-index: 10000000 !important;
  visibility: visible !important;
};

.aoePositionUser {
  top: -10px;
  left: 595px;
};

.aoePositionFoe {
  top: -10px;
  left: 2px;
};

.controlling {
  border: 1px solid;
  border-color: $theme-background-color !important;
  border-radius: 5px;
};

#first-stop {
  position: absolute;
  z-index: -2000;
  top: 125px;
  left: 645px;
  height:10px;
  width: 10px;
};

#last-stop {
  position: absolute;
  z-index: -2000;
  top: 100px;
  left: 130px;
  height: 10px;
  width: 10px;
};



////////////////////////////////////////////////////////////////////////////////////// Joy ride customization
.joyride-content-wrapper {
  margin-top: -1px !important;
  overflow: auto !important;
  display: block !important;
};

.joyride-next-tip {
  float: left !important;
  background: rgba(10, 170, 230, 1) !important;
  margin-top: 30px;
  margin-right: -65px;
  border-radius: 5px !important;
  display: block !important;
  height: 25px;
  width: 25px;
  padding-top: 3px !important;
};

.joyride-nub.top {
  top: -13px !important;
};



///////////////////////////////////////////////////////////////////////////////////// Mix-in for monster icons
@mixin monIcon() {
  position: absolute;
  width: 420px;
  height: 300px;
  .mon {
    display: inline-block;
    margin-left: 10%;
    height: 130px;
    width: 130px;
    p.dam {
      display: none;
      font-family: 'Sigmar One', cursive;
      color: red;
      font-size: 150%;
    };
    .img {
      width: 130px;
      height: 130px;
    };
  };
};

/////////////////////////////////////////////////////////////////////////////////// Mix-in for monster info boxes
@mixin info() {
  position: absolute;
  height: 100px;
  width: 420px;
  color: black;

  .mon {
    display: inline-block;
    width: 153px;
    height: 40px;
    margin-top: 4px;
    margin-left: 4px;
    background: $theme-background-color;
    border-radius: 5px;

    .num {
      position: relative;
      top: -36px;
      right: 7px;
      text-align: right;
    };


    p {
      position: relative;
      display: inline-block;
      font-weight: bold;
      font-size: 75%;
    };


    p.max-hp {
      margin-left: 12px;
    };

    p.current-hp {
      margin-right: -10px;
    };

    .avatar {
      position: relative;
      top: -1px;
      display: inline-block;
      margin-top: 3px;
      margin-left: 3px;
      height: 35px;
      width: 35px;
      border-radius: 5px;
    };

    .hp {
      display: inline-block;
      height: 15px;
      width: 106px;
      float: left;
      margin-top: 20px;
      margin-left: 3px;
      background-color: black;
      position: absolute;
      border-radius: 5px;
      border: 0px solid;
      .bar {
        width: 100%;
        border-radius: 5px;
        border: 1px solid black;
        margin: 0 0 0;
        height: 100%;
        position: absolute;
      };
    };

  };
};



//////////////////////////////////////////////////////////////////////////////////////////////////////// Overlay & Battle message

#overlay {
  background:rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  text-align: center;
  z-index: 10000;
  .message {
    color: white;
    position: absolute;
    width: 400px;
    top: 37.5%;
    left: 30%;
    z-index: 1000000000;
    border-radius: 10px;
    background: $theme-background-color;
  };
};

.battle-message, .battle-guide {
  text-align: center;
  position: absolute;
  z-index: 100;
  width: 400px;
  top: 2%;
  left: 2%;
  border-radius: 10px;
  display: none;
};

.battle-guide {
  top: 220px;
  left: 346px;
  width: 150px;
  background: rgba(250,184,19,0.65);
};

.battle-message {
  background: rgba(235, 22, 22, 0.75);
};

.cancel {
  background: rgba(235, 22, 22, 0.75) !important;
  border-color: rgba(235, 22, 22, 0.75) !important;
  border-radius: 5px;
  position: absolute;
  top: 289px;
  left: 346px;
};



////////////////////////////////////////////////////////////////////////////////////////////////////////// Battle
html {
  height: 100%;
  width: 100%;
};

body {
  height: 100%;
  width: 100%;
};

.single-ability-img {
  position: absolute;
  height: 135px;
  width: 135px;
  top: 200px;
  left: 80px;
  z-index: -100000;
  outline: none;
  visibility: hidden;
};


.ability-img {
  position: absolute;
  height: 80%;
  width: 40%;
  z-index: -100000;
  outline: none;
  visibility: hidden;
};

.battle {
  width: 960px;
  height: 500px;
  background: url(battlefield2.gif);
  position: relative;
  background-size: cover;
  z-index: 0;
  background-repeat: no-repeat;
  margin-top: 5px;
  left: 130px;
  font-family: 'Montserrat', sans-serif;
  .panel-default {
    border: 0px;
  };
  .end-turn {
    position: absolute;
    background: $theme-background-color;
    height: 50px;
    width: 115px;
    top: 87%;
    right: 2%;
    font-size: 120%;
    font-weight: bold;
    border-color: $theme-background-color;
    color: black;
    border-radius: 5px;
  };

  .platform {
    position: absolute;
    z-index: -1000;
    height: 188px;
    top: 202px;
    left: 5px;
    width: 945px;
    opacity: 0.20;
  };

  .ap {
    position: absolute;
    color: black;
    background: $theme-background-color;
    height: 50px;
    width: 155px;
    top: 87%;
    left: 66%;
    text-align: center;
    font-size: 120%;
    border-radius: 5px;
    .ap-number {
      position: relative;
      top: 5px;
    };
    .ap-meter {
      background: black;
      width: 140px;
      height: 17px;
      margin-top: -5px;
      margin-left: 7px;
      border-radius: 5px;
      border: 0px;
      .bar {
        position: relative;
        border-radius: 5px;
        height: 100%;
        width:  100%;
        float: left;
        border: 1px solid black;
      };
    };
  };
};



/////////////////////////////////////////////////////////////////////////////////////////////////// Info boxes
.user.info {
  @include info();
  right: -10%;
  top: .5%;
};

.enemy.info {
  @include info();
  top: 77%;
  left: 2%;
  width: 400px;
  .mon {
    width: 130px;
    height: 51px;
    .hp {
      display: inline-block;
      height: 12px;
      width: 120px;
      margin-left: -33px;
      float: left;
      margin-top: 36px;
      background-color: black;
      position: absolute;
    };
    .num {
      position: relative;
      text-align: right;
      margin-top: -1px;
      .name {
        position: absolute;
        right: 2%;
        bottom: 16px;
      };
    };
  };
};

.info .mon2, .info .mon3 {
  position: relative;
  margin-left: 3px;
  top: -20px;
  float: left;
};

.info .mon.mon1 {
  margin-left: -1px;
};

.enemy.info {
  .mon1 {
    margin-left: 12px;
  };
  .mon3 {
    margin-left: 16px;
  };
};




////////////////////////////////////////////////////////////////////////////////////////////// Enemy Monster icons
.enemy.mon-slot {
  @include monIcon();
  position: absolute;
  top: 94px;
  left: -10px;

  .mon {
    position: relative;

    p.dam{
      position: absolute;
      top: 60px;
      left: 35px;
      z-index: 0;
    }

    .img {
      @include flipped();
      position: absolute;
      top: 1px;
      left: 1px;
    };
  };
};

.enemy.mon-slot {
  .mon {
    margin-top: 2%;
  };
  .monBut {
    display: none;
  };
};



//////////////////////////////////////////////////////////////////////////////////////////// User Monster icon general
.user.mon-slot {
  @include monIcon();
  display: inline-block;
  top: 112px;
  right: -48px;
  width: 477px;
  height: 800px;


  .effect-box {
    position: absolute;
    z-index: 100;
    height: 30px;
    width: 100px;
    top: 16px;
    left: 207px;
  };

  .mon {
    position: relative;
    height: 200px;
    width: 400px;
    margin: -30px -110px -30px;

    p.dam{
      position: absolute;
      top: 70px;
      left: 236px;
      z-index: 0;
    };
  }

  .monBut {
    display: inline-block;
    width: 80px;
    height: 130px;
    visibility: hidden;
    z-index: 2000;
    button {
      width: 65px;
      height: 40px;
      background: $theme-background-color;
      border-color: $theme-background-color;
      border-radius: 5px;
    };
  };

  .abilityDesc {
    visibility: hidden;
    opacity: 0.8;
    width: 260px;
    z-index: 1500;
    border-color: black;
    background: $theme-background-color;
    span p {
      display: inline;
    };
    .pan {
      background: $theme-background-color;
      border-color: rgba(10, 130, 230, 0.70);
      color: black;
      padding: 3px 4px 6px;
    };
    .panel-body {
      font-size: 90%;
    };
  };
};



///////////////////////////////////////////////////////////////////////////////////////// User monster icon position adjustments
.mon {
  .abilityDesc {
    position: absolute;
    top: 25px;
    left: -130px;
  };

  .monBut {
    position: absolute;
    top: 24px;
    left: 132px;
  };

  .img{
    position: absolute;
    top: 20px;
    left: 200px;
    z-index: 1000;
    border-color: transparent;
    outline: 0;
  };
};

