.for-real {
  .guild-panel.individual-guild.guild-battle-listing {
    .single-guild-panel.listing-panel {
      .title-individual-battles-count {
        right: 215px;
      };
      .guild-ranking-listing.individual-listing {
        .single-guild-stats.guild-name {
          width: 200px;
        };
        .individual-rank-guild-name {
          left: 324px;
        };
        .individual-rank-battle-count {
          right: 220px;
        };
      };
    };
  };
};