@mixin stroky() {
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, 
               1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; 
};

@mixin stroke() {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 
               1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
};


.guild-battle-listing {
  .guild-selection-but {
    @include stroke();
    height: 55px;
    width: 150px;
    position: absolute;
    font-size: 120%;
    padding-top: 25px;
    border-radius: 5px;
    top: 4px;
    right: 0px;
    text-align: center;
    text-decoration: none;
  };
  .area-name {
    position: absolute;
    left: 500px;
  };
  .raid-explanation {
    background: #ffea00;
    left: 6px;
  };
  .raid-battle-link {
    background: #EF6C00;
    left: 165px;
  };
  .raid-guild-rank-link {
    background: #1565C0;
    right: 7px;
  };
  .raid-individual-rank-link {
    background: #43A047;
    right: 166px;
  };
  .listing-panel {
    border: 2px solid black;
    top: 65px !important;
    height: 86.5% !important;
    .selection-title {
      text-align: center;
      margin: 22px auto;
      position: absolute;
      left: 0px;
      right: 0px;
    };
    .listing-box {
      position: absolute;
      width: 570px;
      left: 0px;
      right: 0px;
      margin: 0px auto;
      top: 70px;
      height: 355px;
      overflow: scroll;
      padding-right: 15px;
      padding-left: 15px;
      .individual-gbattle-listing {
        position: relative;
        height: 150px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px black;
        margin-bottom: 12px;
        display: block;
        .guild-battle-clock {
          position: absolute;
          height: 35px;
          top: 5px;
          left: 5px;
        };
        .event-name {
          @include stroky();
          position: absolute;
          right: 0px;
          left: 0px;
          text-align: center;
          bottom: 2px;
          color: blue;
        };
        .gbattle-time-left {
          font-weight: bold;
          position: absolute;
          left: 45px;
          top: -10px;
          color: black;
        };
      };
    };
  };
};