@mixin stroke() {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 
               1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
};

.single-guild-panel.listing-panel {
  .leadership-heading {
    @include stroke();
    text-align: center;
    width: 100px;
    position: absolute;
  };
  .title-points {
    left: 845px;
  };
  .title-battles {
    left: 376px;
  };
  .title-guild {
    left: 64px;
  };
  .title-rank {
    left: -10px;
  };
  .guild-ranking-listing {
    position: absolute;
    width: 490px;
    height: 385px;
    top: 40px;
    left: 5px;
    padding-left: 3px;
    border-radius: 5px;
    .single-guild-leadership-listing {
      display: inline-block;
      height: 55px;
      width: 930px;
      background: #4B4B4B;
      margin-bottom: 4px;
      font-size: 140%;
      box-shadow: inset 0px 1px 12px black;
      border-radius: 5px;
      position: relative;
      .single-guild-stats {
        position: absolute;
        top: 15px;
      };
      .guild-battle-points {
        right: 15px;
      };
      .guild-battle-count {
        left: 390px;
      };
      .guild-avatar {
        height: 40px;
        border-radius: 5px;
        left: 88px;
        position: absolute;
        top: 8px;
      };
      .rank {
        left: 30px;
      };
      .guild-name {
        left: 148px;
        width: 222px;
        line-height: 22px;
        top: 17px;
      };
    };
  };
};