body.forest {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  height: 700px !important;
  position:fixed;
  overflow:hidden;
};


.navbar {
  border: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #3366AA;
  text-shadow: none;
  .nav-title {
    color: #E0E05D;
    padding-left: 15px;
  }

  .nav-btn-group {
    padding: 5px 0 5px 20px;
  }
}

.nav-admin {
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  .nav-title {
    h4 {
      font-size: 10px;
    }
  }
  .container-fluid {
    .nav-btn-group {
      .btn-group {
        .btn-default {
          font-size: 10px;
        }
      }
    }
  }
}

abbr[title] {
  border-bottom: none !important;
};

input[type="file"] {
  color: white;
};

.alert {
  position: relative;
  left: 15px;
  margin-top: -16px;
};

::-webkit-scrollbar { 
    display: none;
};

.forest {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-family: 'Montserrat', sans-serif !important;
};

h1, h3, h2, h4 {
  font-family: 'Montserrat', sans-serif !important;
};

.fade.in.ability {
  opacity: 0;
};


#unauthorized {
  position: fixed;
  right: 0px;
  left: 0px;
  margin: 0% auto;
};

.turbolinks-overlay {
  position: absolute;
  height: 100%;
  width: 1000px;
  background: #000000;
  border-radius: 5px;
  transition: opacity 0.05;
  right: 0px;
  left: 0px;
  margin: 93px auto;
  margin-bottom: 0px;
  img {
    position: fixed;
    left: 0px;
    right: 0px;
    margin: 12.5% auto;
    margin-bottom: 0px;
    height: 200px;
    width: 200px;
  };
};


///////////////////////////////////////////////////////////////// hopscotch customization

.hopscotch-next {
  background: transparent !important;
  border: none !important;
  position: relative;
  left: 14px;
  top: 5px;
  outline: none !important;
  transition: 0.3s;
  img {
    height: 30px;
    position: relative;
  };
};

button.hopscotch-next:hover {
  box-shadow: none !important;
};

.hopscotch-bubble-container {
  background: #3D3C3C;
  color: white;
  border-radius: 5px;
  .hopscotch-title {
    color: white;
  };
};

.hopscotch-bubble {
  background: rgba(0, 0, 0, 0.8) !important; 
  box-shadow: 0px -1px 25px yellow;
  transition: box-shadow 0.3s;
};

.hopscotch-close {
  background-size: cover;
  right: -13px !important;
  height: 10px;
  width: 10px;
  top: -12px !important;
};


.monster-skin-portrait {
    height: 110px;
};

.hopscotch-bubble {
  z-index: 5000000000 !important;
};

