// Place all the styles related to the guilds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guild-panel {
  .guild-search-field {
    position: absolute;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    margin: 20px auto;
    left: 0px;
    right: 0px;
    font-size: 150%;
  };
  .guild-search-send {
    position: absolute;
    height: 40px;
    right: 0px;
    left: 368px;
    margin: 20px auto;
    outline: none;
  };
  .guild-list {
    height: 350px;
    width: 900px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 80px auto;
    border-radius: 5px;
    overflow: scroll;
    .single-guild-listing {
      position: relative;
      display: inline-block;
      width: 420px;
      height: 70px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      border-radius: 5px;
      text-align: left;
      background: #1565c0;
      border: 2px solid black;
      box-shadow: 5px 5px 5px black;
      .guild-name, .guild-level-requirement {
        margin-left: 10px;
      };
    };
    .member-count {
      position: absolute;
      right: 75px;
      top: 10px;
      text-align: center;
      font-size: 120%;
    };
    .further-guild-information {
      position: absolute;
      height: 45px;
      right: 8px;
      top: 12px;
      cursor: pointer;
    };
  };
};