// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");

$home-font: 'Montserrat Alternates', sans-serif;
$top-bg: linear-gradient(to bottom, #111624 5%, #3d94f6 100%);
$ability-display: linear-gradient(to bottom, #111624 5%, #3d94f6 100%);
$bottom-bg: linear-gradient(to bottom, #283b33 5%, #ededed 100%);

$grey-fade: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
$grey-fade-hover: linear-gradient(to bottom, #283b33 5%, #ededed 100%);

$screen-gap-right: 8px;
$screen-gap-bottom: 5px;
$screen-gap-top: 5px;
$distance-between-pane-top-pane-info: 15px;

.navbar {
  background: $ability-display;
  .btn {
    background: $grey-fade;
  }
  .btn:hover {
    background: $grey-fade-hover;
  }
}
.btn-primary {
  border: 1px solid black;
  background: $grey-fade-hover;
}

.btn-primary:hover {
  border: 1px solid black;
  background: #283b33;
} 

.btn-danger {
  border: 1px solid black;
  background: linear-gradient(to bottom, #f24537 5%, #612d29 100%);
}

.btn-danger:hover {
  border: 1px solid black;
  background: red;
} 
.btn-info {
  border: 1px solid black;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
}

.btn-info:hover {
  border: 1px solid black;
  background: light-blue;
} 

.panel-heading {
  background: $ability-display;
}

@mixin abs-div($width, $height) {
  position: absolute;
  width: $width;
  height: $height;
}
@mixin rel-div($width, $height) {
  position: relative;
  width: $width;
  height: $height;
}
@mixin portrait-img($width, $height) {
  @include abs-div($width, $height);
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}
.body {
  position: relative;
}
.master-bg {
  @include abs-div(100%, 100%);
  background: $bottom-bg;
}
.btn:active {
  position:relative;
  top: 1px;
}
.shadowed1 {
  box-shadow: 3px 3px 3px 0px #111624;
  border-radius: 3px;
}
.shadowed2 {
  box-shadow: 2px 2px 2px 0px black;
  border: 1px solid black;
  border-radius: 3px;
}

///////////////////////////////////
.top-section {
  @include abs-div(99%, 25%);
  background: $top-bg;
  top: $screen-gap-top;
  right: $screen-gap-right;
  .party-title {
    @include abs-div(50%, 30%);
    p {
      font-family: $home-font;
      font-size: 22px;
      margin-left: 60px;
      color: azure;
    }
  }
  .party-pane {
    @include abs-div(50%, 70%);
    top: 23%;
    left: 0;
    img {
      // @include rel-div(100px, 100px);
      @include rel-div(20%, 100%);
      padding: 0px;
      margin-left: 5px;
      float: left;
      bottom: 0;
      max-height: 100%;
      max-width: 100;
    }
  }
  .start-battle {
    @include abs-div(30%,60%);
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 6%;
    .battle-button {
      box-shadow: 5px 5px 0px 1px slateGray;
      background:$grey-fade-hover;
      border-radius:28px;
      border:3px solid darkGrey;
      display:inline-block;
      cursor:pointer;
      color:black;
      font-family: $home-font;
      font-size:17px;
      font-weight:bold;
      font-style:italic;
      padding:25px 67px;
      text-decoration:none;
    }
    .battle-button:hover {
      background:Yellow;
      text-decoration:none;
    }
  }
}

///////////////////////////////////
.monsters-display-area {
  @include abs-div(100%, 75%);
  bottom: 0;
  .monster-info-area {
    p {
      font-family: $home-font;
      margin-left: 5px;
      margin-bottom: 1px;
    }
    .btn {
      font-family: $home-font
    }
    @include abs-div(65%, 100%);
    bottom: $screen-gap-bottom;
    right: $screen-gap-right;
    display: none;
  }
}
    .btn-box {
      @include abs-div(25%, 22%);
      top: 0;
      left: 1%;
      .btn {
        background: $grey-fade;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
      }
      .btn-default:hover {
        background: $grey-fade-hover
      }
    }
    .info-display-area {
      @include abs-div(100%, 32%);
      top: $distance-between-pane-top-pane-info;
      right: 0;
    }
      .info-pane {
        @include abs-div(100%, 74%);
        bottom: 0;
        right: 0;
        background: $ability-display;
        .monster-portrait {
          @include abs-div(38%, 92%);
          right: 0;
          top: 0;
          img {
            @include portrait-img(100%, 100%);
          }
        }
      }
        .monster-info {
          @include abs-div(35%, 90%);
          bottom: 5%;
          left: 1%;
          background: $grey-fade;
        }
        .equip1 {
          @include abs-div(10%, 60%);
          bottom: 5%;
          right: 13%;
          cursor: pointer;
          img {
            @include portrait-img(100%, 100%);
          }
        }
        .equip2 {
          @extend .equip1;
          right: 1%;
        }
/////////////////////////////////////
    .abilities-display-area {
      @include abs-div(100%, 62%);
      bottom: 0;
      right: 0;
      background: $ability-display;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 5px;
      padding-right: 5px;
      .scroll-wrapper {
        @include rel-div(100%, 100%);
        display: block;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        .ability-pane {
          @include rel-div(90%, 35%);
          right: 0;
          left: 0;
          margin: 2.5% auto 2.5% auto;
        }
      }
    }
        .ability-icon {
          @include abs-div(15%, 100%);
          left: 0;
          img {
            @include portrait-img(100%, 100%);
          }
        }
        .ability-info {
          @include abs-div(67%, 100%);
          display: block;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          right: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
          background: $grey-fade;
          .well {
            margin-bottom: 10px;
            padding: 2px;
            font-weight: bold;
            border: 0px;
            p {
              margin-left: 0px;
            }
          }
          p {
            text-align: center
          }
        }
        .ability-equip {
          @include abs-div(15%, 100%);
          right: 0;
          img {
            @include portrait-img(100%, 100%);
          }
        }
///////////////////////////////////
  .monsters-image-area {
    @include abs-div(34%, 100%);
    bottom: 0;
    left: 0;
    .monster-title-area {
      @include abs-div(100%, 15%);
      top: 0;
      p {
        font-family: $home-font;
        color: azure;
        font-size: 28px;
        font-weight: bold;
        margin-top: 25px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
    .monsters-image-display {
      @include abs-div(100%, 80%);
      bottom: 0;
      left: 0;
      padding-left: 6px;
    }
      .monster-thumb {
        @include rel-div(22%, 22%);
        background: $grey-fade;
        border-radius:6px;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        padding:5px 5px;
        text-decoration:none;
        margin: 5px;
        float: left;
        .monThumb {
          margin: 5px;
          position: absolute;
          @include portrait-img(100%, 100%);
        }
        .fa {
          color: black;
          position: absolute;
          margin-right: 10px;
          margin-top: 5px;
          right: 0;
          top: 0;
        }
        .fa:hover {
          background:red;
        }
      }
      .monster-thumb:hover {
        background: $grey-fade-hover;
        text-decoration:none;
      }