// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: 1px solid blue;

@mixin abs-div($width, $height) {
  position: absolute;
  border: 1px solid blue;
  width: $width;
  height: $height;
}
@mixin rel-div($width, $height) {
  position: relative;
  border: 1px solid blue;
  width: $width;
  height: $height;
}

@mixin portrait-img($width, $height) {
  @include abs-div($width, $height);
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

.body {
  position: relative;
}

.mon-unlock {
  display: none;
}

///////////////////////////////////
.party-pane {
  @include abs-div(60%, 24%);
  .member-image {
    @include abs-div(25%, 85%);
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    .member-image img {
      max-width: 100%;
    }
  }
}

///////////////////////////////////
.monsters-display-area {
  @include abs-div(100%, 75%);
  bottom: 0;
}
  .monster-info-area {
    @include abs-div(65%, 100%);
    bottom: 0;
    right: 0;
    img {
      @include portrait-img(50%, 100%);
    }
  }
    .btn-box {
      @include abs-div(25%, 22%);
      display: none;
      top: 0;
      left: 0;
      margin-left: 0%;
      margin-top: 0%;
      .btn {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
      }
    }
    .info-display-area {
      @include abs-div(100%, 32%);
      top: 0;
      right: 0;
    }
      .info-pane {
        @include abs-div(100%, 78%);
        bottom: 0;
        right: 0;
      }
        .monster-info {
          @include abs-div(25%, 90%);
          bottom: 0;
          left: 0;
        }
        .equip1 {
          @include abs-div(10%, 60%);
          bottom: 0;
          right: 0;
          margin-right: 14%;
          img {
            @include portrait-img(100%, 100%);
          }
        }
        .equip2 {
          @include abs-div(10%, 60%);
          bottom: 0;
          right: 0;
          margin-right: 2%;
          img {
            @include portrait-img(100%, 100%);
          }
        }
/////////////////////////////////////
    .abilities-display-area {
      @include abs-div(100%, 67%);
      bottom: 0;
      right: 0;
      .abils_avail {
        @include abs-div(100%, 100%);
        .ability-pane {
          @include rel-div(85%, 35%);
          right: 0;
          left: 0;
          margin: 2.5% auto 2.5% auto;
        }
      }
    }
        .ability-icon {
          @include abs-div(15%, 100%);
          left: 0;
          img {
            @include portrait-img(100%, 100%);
          }
        }
        .ability-info {
          @include abs-div(67%, 100%);
          right: 0;
          left: 0;
          margin-left: auto;
          margin-right: auto;
        }
        .ability-equip {
          @include abs-div(15%, 100%);
          right: 0;
          img {
            @include portrait-img(100%, 100%);
          }
        }
///////////////////////////////////
  .monsters-image-area {
    @include abs-div(34%, 100%);
    bottom: 0;
    left: 0;
  }
    .monster-title-area {
      @include abs-div(100%, 15%);
      top: 0;
    }
    .monsters-image-display {
      @include abs-div(100%, 85%);
      bottom: 0;
      img {
        @include rel-div(25%, 25%);
        float: left;
        max-width: 100%;
        max-height: 100%;
      }
    }





