// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");

$home-font: 'Montserrat Alternates', sans-serif;
$main-bg: #4b4b4b;
$panel-bg: #757575;
$frame-bg: #353434;
$desc-blue-bg: #0D47A1;

$divide-margin: 5px;
$middle-margin: 2.5px;
$bottom-margin: 5px;
$top-margin: 5px;
$left-margin: 5px;
$right-margin: 5px;
$margin-mon-panel: 5px;
$right-pane-inner-margins: 10px;

$mon-thumb-dim: 72px;
$border-radius: 6px;

// $grey-fade: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
// $grey-fade-hover: linear-gradient(to bottom, #283b33 5%, #ededed 100%);

@mixin abs-div($width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  // border: 1px solid blue;
}
@mixin rel-div($width, $height) {
  position: relative;
  width: $width;
  height: $height;
  // border: 1px solid red;
}
@mixin portrait-img($width, $height) {
  @include abs-div($width, $height);
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}
@mixin add-rem-img($width, $height) {
  @include abs-div($width, $height);
  top: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}
@mixin p-text($font-size, $margin-top, $margin-right, $margin-bottom, $margin-left) {
  font-family: $home-font;
  font-size: $font-size;
  margin-left: $margin-left;
  margin-right: $margin-right;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  color: azure;
}
.shadowed1 {
  box-shadow: 3px 3px 3px 0px #111624;
  border-radius: 3px;
}
.shadowed2 {
  box-shadow: 2px 2px 2px 0px black;
  border: 1px solid black;
  border-radius: 3px;
}
%thumb-setting {
  @include portrait-img(100%, 100%);
  img {
    @include portrait-img(100%, 100%);
  }
}
%add-rem-setting {
  margin-right: -5px;
  margin-top: -5px;
  @include add-rem-img(25px, 25px);
  img {
    @include add-rem-img(100%, 100%);
  }
}

///////////////////////////////////
.master-bg {
  @include abs-div(960px, 500px);
  background: $main-bg;
  left: 0;
  right: 0;
  margin: auto;
}
.monster-display {
  @include abs-div(573px, 490px);
  background: $panel-bg;
  bottom: 0;
  right: 0;
  margin: $top-margin $right-margin $bottom-margin $middle-margin;
  border-radius: $border-radius;
}
///////////////////////////////////////////

.top-section {
  @include abs-div(370px, 128px);
  background: $panel-bg;
  border-radius: $border-radius;
  top: 0;
  left: 0;
  margin: $top-margin $middle-margin $divide-margin $left-margin;
  .party-title {
    height: 30px;
    p {
      @include p-text(16px, 0, 0, 0, 0);
    }
  }
  .party-pane {
    @include abs-div(100%, 82px);
    top: 23%;
    left: 0;
    .party-member {
      @include rel-div($mon-thumb-dim + 10, $mon-thumb-dim + 10);
      padding: 0px;
      margin-left: 5px;
      float: left;
      bottom: 0;
      border: 5px solid $frame-bg;
      .mon-thumb {
        @extend %thumb-setting
      }
      .add-rem-icon {
        @extend %add-rem-setting
      }
    }
  }
}
///////////////////////////////////
.abilities-display-area {
  @include abs-div(100%, 375px);
  bottom: 0;
  right: 0;
  background: $panel-bg;
  display: none;
  .ability-list {
    p {
      @include p-text(16px, 0, 0, 0, 0);
    }
  }
  .scroll-wrapper {
    @include rel-div(100%, 353px);
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    .ability-pane {
      @include rel-div(95%, 82px);
      right: 0;
      left: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
      .ability-icon {
        @include abs-div(15%, 100%);
        left: 0;
        img {
          @include portrait-img(100%, 100%);
        }
      }
      .ability-info {
        @include abs-div(67%, 100%);
        display: block;
        overflow: none;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        .abil-heading {
          @include abs-div(100%, 24px);
          top: 0;
          left: 0;
          border: 0px;
          border-radius: 3px;
          background: $desc-blue-bg;
          overflow: none;
          p {
            @include p-text(12px, 2px, 0, 0, 5px);
          }
          .ability-name {
            @include abs-div(40%, 100%);
            top: 0;
            left: 0;
          }
          .ap-cost {
            @include abs-div(16%, 100%);
            top: 0;
            left: 40%;
          }
          .word-available {
            @include abs-div(20%, 100%);
            top: 0;
            left: 56%;
          }
          .avail {
            @include abs-div(8%, 100%);
            top: 0;
            left: 76%;
          }
          .word-of {
            @include abs-div(8%, 100%);
            top: 0;
            left: 84%;
          }
          .own {
            @include abs-div(8%, 100%);
            top: 0;
            right: 0;
          }
        }
        p {
          @include p-text(12px, 30px, 0, 0, 5px);
        }
      }
      .ability-equip-link {
        @include abs-div(15%, 100%);
        right: 0;
        opacity: 0;
        .abil-link {
          @include abs-div(100%, 100%);
          opacity: 0;
        }
      }
      .ability-equip {
        @include abs-div(15%, 100%);
        right: 0;
        img {
          @include portrait-img(100%, 100%);
        }
      }
    }
  }
}
////////////////////////////////////////////
.monster-info-area {
  @include abs-div(100%, 125px);
  top: 0;
  right: 0;
  display: none;
  background: $panel-bg;
  .mon-equipped2 {
    @include abs-div(80px, 82px);
    bottom: 0;
    right: 0;
    margin-right: $margin-mon-panel;
    border-radius: $border-radius;
    background: $frame-bg;
    cursor: pointer;
    .equip-link {
      @include abs-div(100%, 100%);
      bottom: 0;
      right: 0;
      opacity: 0;
      z-index: 1;
    }
    .equip-thumb {
      @include abs-div(50px, 50px);
      left: 0;
      right: 0;
      bottom: 23px;
      margin: auto;
      img {
        @include portrait-img(100%, 100%);
      }
    }
    .slot-text {
      @include abs-div(100%, 20px);
      bottom: 2px;
      right: 0;
      p {
        @include p-text(16px, 0, 0, 0, 0);
        text-align: center;
      }
    }
  }
  .mon-equipped1 {
    @extend .mon-equipped2;
    margin-right: 85px + $margin-mon-panel;
  }
  .btn {
    font-family: $home-font
  }
  .btn-box {
    @include abs-div(25%, 22%);
    top: 5px;
    left: $margin-mon-panel;
    .btn {
      background: $desc-blue-bg;
      position: relative;
      width: 75px;
      height: 25px;
    }
    a {
      text-align: center;
      line-height: 8px;
    }
  }
  .info-pane {
    @include abs-div(393px, 82px);
    bottom: 0;
    left: 0;
    margin-left: $margin-mon-panel;
    border-radius: $border-radius;
    background: $frame-bg;
    .monster-thumb {
      @include abs-div(70px,70px);
      top: 0;
      bottom: 0;
      margin: auto;
      left: $right-pane-inner-margins;
      .mon-thumb {
        @extend %thumb-setting;
      }
    }
    p {
      @include p-text(16px, 1, 0, 0, 70px + $right-pane-inner-margins * 2);
    }
  }
}
/////////////////////////////////////
.monsters-image-area {
  @include abs-div(370px, 355px);
  bottom: 0;
  left: 0;
  margin: $divide-margin $middle-margin $bottom-margin $left-margin;
  background: $panel-bg;
  border-radius: $border-radius;
  .monster-title-area {
    p {
      @include p-text(16px, 5px, 0, 10px, 5px);
    }
  }
  .monsters-image-display {
    @include abs-div(100%, 328px);
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    .monster-thumb {
      @include rel-div($mon-thumb-dim, $mon-thumb-dim);
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      text-decoration:none;
      margin-top: 2.5px;
      margin-bottom: 2.5px;
      margin-left: 5.625px;
      margin-right: 5.625px;
      padding: 0;
      float: left;
      .mon-thumb {
        @extend %thumb-setting
      }
      .add-rem-icon {
        @extend %add-rem-setting
      }
    }
  }
}

#topcontrol {
  bottom: -10px !important;
};