@import "compass";

.forest {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  .container-yes {
    width: 960px;
    position: relative;
    margin: 0 auto;
  };
};

.sweet-home {
  position: relative;
  border-radius: 5px;
  left: 17px;
  top: -15px;
  background: #4B4B4B !important;
  color: white !important;
  .party-form-button {
    background: #32373D;
    transition: background 0.2s;
    box-shadow: 1px -1px 11px #FFFF00;
  };
  .party-form-button:hover {
    background: #0D47A1;
  };
};

.navbar-logo {
  height: 70px;
  width: 200px;
  position: relative;
  left: 9px;
  top: 3px;
};

.main-nav {
  height: 80px;
  position: relative;
  top: 0px;
  left: 0px;
};

.mon-front {
  background: #494949 !important;
  position: relative;
  width: 960px;
  left: 5px;
};

.fb-nav {
  position: relative;
  top: 14px;
  right: 160px;
  font-weight: bold;
  font-size: 96%;
  text-align: center;
  height: 38px;
  width: 65px;
  margin-left: 5px !important;
};

a.fb-nav {
  padding: 9px 0px !important;
  border: 2px solid black;
  z-index: 100;
  transition: background 0.4s;
};

.forest {
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
};

.logo {
  height: 35px;
  width: 35px;
};

.youtube {
  border-radius: 6px;
};

.contact-footer {
  position: fixed;
  bottom: 20px;
  z-index: 1;
};

.extra-information {
  position: fixed;
  bottom: 20px;
  left: 598px;
  z-index: 1;
};

.donation-panel {
  background: rgba(107,65,143,0.92) !important;
  color: #3399f3;
};

.modal {
  top: 65px !important;
};

a.fb-nav:hover {
  background: #0D47A1 !important;
};

.active {
  a {
    background: #0D47A1 !important;
  };
};

.landing-game-buttons {
  position: relative;
  left: 505px;
  top: -10px;
};

.door {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 235px;
};

.sign-in {
  width: 185px;
  position: relative;
  left: -7px;
  top: 11px;
};

.for-real {
  z-index: 100;
};

.nav .summoner-info {
  position: absolute;
  right: 5px;
  top: 4px;
  color: white;
  background: #353434;
  height: 72px;
  width: 235px;
  border: 2px solid solid;
  border-radius: 5px;
  .sign-out {
    background: transparent;
    left: 191px;
    border: none;
    font-size: 50%;
    width: 65px;
    top: -8px;
  };
  .current-stamina {
    left: 2px;
    position: relative;
  };
  .mp-icon {
    position: absolute;
    left: 126px;
    height: 24px;
    top: 20px;
  };
  .gp-icon {
    height: 24px;
    position: absolute;
    left: 123px;
    top: 44px;
  };
  .summoner-mp {
    position: absolute;
    left: 152px;
    top: 22px;
  };
  .summoner-gp {
    position: absolute;
    left: 152px;
    top: 47px;
  };
  .username {
    position: absolute;
    top: 1px;
    left: 101px;
    color: #0888C4;
    font-weight: bold;
  };
  .summoner-level {
    position: absolute;
    width: 78px;
    left: 6px;
    top: 1px;
    color: #0888C4;
  };
  .summoner-stamina {
    position: absolute;
    width: 74px;
    left: 38px;
    top: 45px;
    text-align: center;
    z-index: 1;
    color: black;
  };
  .summoner-stamina-bar {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 45px;
    left: 36px;
    border: 2.6px solid black;
    border-radius: 5px;
    .stamina-icon {
      position: absolute;
      left: -27px;
      top: -4px;
      height: 28px;
    };
    .bar {
      height: 15.5px;
      position: absolute;
      border-radius: 5px;
      transition: width 1s;
    };
  };
  .summoner-exp-bar {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 22px;
    left: 36px;
    border: 2.6px solid black;
    border-radius: 5px;
    .bar {
      position: absolute;
      width: 100%;
      height: 15.5px;
      border-radius: 4px;
      top: 0px;
    };
  };
  .summoner-exp {
    position: absolute;
    top: 21px;
    left: 6px;
  };
};



