@import "compass";

.navbar-logo {
  height: 50px;
  width: 160px;
  position: relative;
  left: 10px;
  top: 8px;
};

.main-nav {
  height: 70px;
};

.mon-front {
  @include background-image(linear-gradient(top,  #606060 0%, #131313 100%) !important);
};

.fb-nav {
  position: relative;
  top: 8px;
  font-weight: bold;
};

.forest {
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
};

.sweet-home {
  border-radius: 5px;
  height: 310px;
  width: 100%;
};

.logo {
  height: 35px;
  width: 35px;
};

.youtube {
  border-radius: 6px;
};

.contact-footer {
  position: fixed;
  bottom: 20px;
};

.extra-information {
  position: fixed;
  bottom: 20px;
  left: 598px;
};

.currency {
  position: absolute;
  text-align: right;
  top: 6px;
  left: -24px;
  color: #CCCCCC;
  font-weight: bold;
};

.donation-panel {
  background: rgba(107,65,143,0.92) !important;
  color: #3399f3;
};

.modal {
  top: 65px !important;
};

a.fb-nav:hover {
  background: #4B0082 !important;
};

.active {
  a {
    background: #4B0082 !important;
  };
};

.landing-game-buttons {
  position: relative;
  left: 505px;
  top: -10px;
};

