@import "compass";

@mixin stroke() {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 
               1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
};


.current-area, .current-region {
  background: #0D47A1 !important;
};

.latest-level {
  box-shadow: 1px -1px 11px #FFFF00 !important;
};


.level-select {
  position: relative;
  height: 500px;
  width: 960px;
  background: #4C4C4C;
  background-size: cover;
  border-radius: 5px;
  left: 15px;
  top: -15px;
};


.region-panel {
  position: absolute;
  height: 27%;
  width: 64%;
  border: 2px solid black;
  border-radius: 5px;
  top: 4px;
  left: 2px;
  background: #757575;
  .region-box {
    position: absolute;
    top: 44px;
    text-align: center;
    width: 100%;
    z-index: 100;
    .region-select {
      border: 2px solid black;
      background: #4B4B4B;
      margin-left: 5px;
      height: 40px;
      transition: background 0.5s;
      box-shadow: 2px 2px 6px black;
    };
    .region-select:hover {
      background: #0D47A1;
    };
  };
};

.stage-challenge-description {
  position: absolute;
  height: 348px;
  width: 305px;
  border: 2px solid black;
  border-radius: 5px;
  background: #4B4B4B;
  top: 145px;
  left: 306px;
  opacity: 0;
  z-index: -1;
  transition: 0.2s opacity;
  color: white;
  .title {
    @include stroke();
    position: absolute;
    color: #1565C0;
    top: 4px;
    left: 10px;
    font-size: 120%;
    font-weight: bold;
  };
  .stage-name {
    @include stroke();
    position: absolute;
    color: #43A037;
    top: 7px;
    right: 10px;
    font-weight: bold;
  };
  .stage-column {
    @include stroke();
    color: #1565C0;
    position: absolute;
    top: 35px;
  };
  .repeatable {
    @include stroke();
    position: absolute;
    top: 66px;
    left: 6px;
    color: #43A037;
  };

  .stage-column.objective {
    left: 80px;
  };
  .stage-column.reward {
    left: 190px;
    top: 34px;
  };
  .stage-panel.second {
    top: 156px;
  };
  .stage-panel.third {
    top: 250px;
  };
  .stage-panel {
    position: absolute;
    height: 90px;
    width: 288px;
    background: #757575;
    top: 62px;
    left: 8px;
    border-radius: 5px;
    word-wrap: break-word;
    .description-star {
      height: 55px;
      position: absolute;
      top: 14px;
      left: 5px;
    };
    .reward-desc, .objective-desc {
      position: absolute;
      font-size: 90%;
      top: 5px;
      line-height: 1.2;
    };
    .reward-desc {
      left: 182px;
      width: 96px;
      height: 85px;
    };
    .objective-desc {
      left: 75px;
      width: 90px;
    };
  };
};

.battle_level {
  position: absolute;
  border: 2px solid black;
  top: 136px;
  width: 614px;
  left: 2px;
  height: 356px;
  background: transparent;
  margin-top: 5px;
  margin-bottom: 50px;
  border-radius: 5px;
  .map-image {
    position: absolute;
    height: 100%;
    border-radius: 5px;
    width: 100%;
  };
  .map-level {
    position: absolute;
    background: #4B4B4B;
    transition: background 0.5s;
    z-index: 100;
    height: 26px;
    width: 64px;
    padding: 1px;
    box-shadow: 2px 2px 6px black;
  };
  .map-level:hover {
    background: #0D47A1;
  };
};

.field-generation {
  position: absolute;
  left: 150px;
  top: 164px;
};

.user_team {
  position: absolute;
  background: #757575;
  height: 134px;
  width: 338px;
  left: 619px;
  top: 4px;
  border-radius: 5px;
  .the_obvious {
    position: absolute;
    color: white;
    font-weight: bold;
    left: 10px;
    top: -1px;
    font-size: 17px;
    text-shadow: 2px 2px #000000;
  };
  .party_portraits {
    position: absolute;
    top: 57px;
    left: -16px;
    .user_party_portrait {
      height: 65px;
      width: 65px;
      margin-left: 22px;
      border: 3px solid black;
      border-radius: 5px;
    };
  };
  .party_edit_button {
    position: absolute;
    top: 8px;
    left: 238px;
    z-index: 1000;
    transition: background 0.5s;
    background: #4B4B4B;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 6px black;
  };
  .learn-ability-button {
    box-shadow: 2px 2px 6px black;
    position: absolute;
    top: 8px;
    left: 122px;
    z-index: 1000;
    transition: background 0.5s;
    background: #4B4B4B;
    border-radius: 5px;
    border: 2px solid black;
    width: 111px;
    height: 40px;
    padding-top: 8px;
    padding-left: 9px;
    text-decoration: none;
  };
  .party_edit_button:hover, .learn-ability-button:hover {
    background: #0D47A1;
  };
};

.level-description {
  background: #757575;
  position: absolute;
  top: 141px;
  left: 619px;
  height: 356px;
  width: 338px;
  border-radius: 5px;
  overflow: scroll;
  .stage-stars {
    position: absolute;
    top: 2px;
    left: 195px;
  };
  .pick-level:hover {
    background: #0D47A1;
  };
  .pick-level {
    transition: background 0.5s;
    display: block;
    width: 97%;
    height: 83px;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    color: white;
    border-radius: 5px;
    background: #4B4B4B;
    z-index: 4000;
    border: 2px solid black;
    transition: 0.3s;
    box-shadow: 2px 3px 10px #000000;
    .level-name {
      position: absolute;
      top: 8px;
      left: 15px;
      font-size: 120%;
      font-weight: bold;
      width: 306px;
      span.name {
        position: relative;
        float: left;
        top: -6px;
      };
      span.staminacon {
        float: right;
        position: relative;
        top: -6px;
        left: -3px;
      };
      img {
        height: 20px;
        width: 20px;
        position: relative;
        top: -2px;
        left: -2px;
      };
    };
    .level-desc {
      position: absolute;
      width: 298px;
      left: 14px;
      top: 27px;
      word-wrap: break-word !important;
      text-align: left;
      font-size: 85%;
      line-height: 16px;
    };
  };
}


/////////////////////////////////////////////////////////// Stage challenge adjustments


.stage-panel.second .description-star {
  top: 4px;
  left: 5px;
};









