.fixed-bounce-in {
  top: 312px !important;
};


.end-battle-box {
  position: relative;
  width: 540px;
  height: 420px;
  background: url('https://s3-us-west-2.amazonaws.com/monbattle/images/victory-screen-blank.png');
  .end-battle-but {
    width: 120px;
    height: 60px;
    background: #353434;
    font-weight: bold;
    font-size: 140%;
    text-decoration: none;
    transition: 0.3s;
    position: absolute;
    border-radius: 5px;
    top: 312px;
  };
  .end-battle-but.ability-equip {
    left: 119px;
    padding-left: 5px;
    padding-top: 2px;
  };
  .end-battle-but.level-select {
    left: 327px;
    padding-left: 3px;
    padding-top: 14px;
  };
  .end-battle-but:hover {
    background: #0D47A1; 
  };
  p {
    font-size: 150%;
    color: white;
    position: absolute;
    left: 326px;
    font-weight: bold;
  };
  p.gp-earned {
    top: 163px;
  };
  p.exp-earned {
    top: 212px;
  };
  p.ability-earned {
    top: 260px;
  };
};


