.fixed-bounce-in {
  top: 312px !important;
};

.end-battle-box {
  position: relative;
  width: 540px;
  height: 420px;
  background: url('https://s3-us-west-2.amazonaws.com/monbattle/images/victory-screen-blank.png');
  margin: 4% auto;
  .end-battle-but {
    width: 120px;
    height: 60px;
    background: #353434;
    font-weight: bold;
    font-size: 140%;
    text-decoration: none;
    position: absolute;
    border-radius: 5px;
    top: 312px;
    border: 2px solid black;
    outline: none;
  };
  .end-battle-but.ability-equip {
    left: 66px;
    padding-left: 3px;
  };
  .end-battle-but.level-select-but {
    left: 350px;
    padding-left: 1px;
    padding-top: 14px;
  };
  .end-battle-but.learn-ability-but {
    left: 211px;
  };
  .end-battle-but:hover {
    background: #0D47A1; 
  };
  p {
    font-size: 150%;
    color: white;
    position: absolute;
    left: 326px;
    font-weight: bold;
  };
  p.gp-earned {
    top: 163px;
  };
  p.exp-earned {
    top: 212px;
  };
  p.ability-earned {
    top: 257px;
  };
};

.end-battle-box.loser {
  background: url("https://s3-us-west-2.amazonaws.com/monbattle/images/defeat-screen-blank.png");
  .exp-earned {
    top: 190px;
  };
  .ability-earned {
    top: 234px;
  };
  .level-select-but {
    left: 356px;
  };
  .ability-equip {
    left: 64px;
  };
  .replay {
    position: absolute;
    left: 208px;
  };
};

