div.store-front {
  height: 600px;
  width: 960px;
  background: #D0D0D0;
  position: relative;
  left: 20px;
  top: 20px;
  margin-bottom: 20px;
};

div.ability-showoff {
  position: relative;
  background: #BFEFFF;
  height: 450px;
  width: 450px;
  top: 81px;
  left: 495px;
};

div.ability-latest {
  position: absolute;
  background: #BFEFFF;
  height: 309px;
  width: 775px;
  top: 20px;
  left: 90px;
};

.showcase {
  text-align: center;
  display: inline-block;
  height: 130px;
  width: 150px;
  margin: 10px 20px 0px;
};

.king-roll {
  position: relative;
  top: 381px;
  left: 382px;
  width: 250px;
  height: 100px;
};








