@import "compass";


///////////////////////////////////////////////////////////////////////////////////////////////// Classes for animation
.fadeIn-1s {
  opacity: 1 !important;
  z-index: 10000 !important;
};


.hover-store-button-class {
  position: absolute !important;
  left: 369px !important;
  top: 272px !important;
};


///////////////////////////////////////////////////////////////////////////////////////////// Need some organizations here buddy
div.store-front {
  height: 500px;
  width: 960px;
  background: #4C4C4C;
  background-image: url("https://s3-us-west-2.amazonaws.com/monbattle/images/monster-content.png?X-Amz-Date=20141218T012003Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a9dc5fce373eb496fb2da758b018bbd440dfa3f9f46c9ae3a26e0af68e0fa1a1&X-Amz-Credential=ASIAIG4NS2BLCT3UE3ZQ/20141218/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPf//////////wEakAIWBEI6A9pROr7PdR6ccHgciolRwKIIDMRxtbagmDiTztASIfp2C8XWdzjTS6Y/C/ahzb4MbBvlDGfVrkzvCufgucnnstFjpOGGdbRMjeXRw8qA35SJ6JHbpoVF9EWB70hbsnjB6xctheXXn47c56ktO38ZnoiqYlZc1S/A32WaQGZl6a/rrmlPetMlK/Z4sMbten2TCwP9HSZDOZ85zlJEX8hV7ceVMHwzBb%2BgnsUup49uKh6Kp4UA2LoKp2bi7C%2Buod1qOjrgpx/BfEr/snkfd7nJZXFPiFGIaA/HbasC%2Bv3uju4PPtxqXg%2BOb2Vc6nckINx/aoTwC3TxGY4R4cXxQWqk3oL8rpsJSeUog/4CYSC76sekBQ%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 16px;
  top: -14px;
  margin-bottom: 20px;
  border-radius: 5px;
  .king-roll {
    position: absolute;
    top: 277px;
    left: 385px;
    outline: none;
  };

  .premium-summon-logo {
    position: absolute;
    left: 155px;
    top: 6px;
  };


  .ai-happy-avatar {
    position: absolute;
    left: 5px;
    top: 293px;
  };

  .store-message {
    position: absolute;
    height: 125px;
    width: 800px;
    left: 164px;
    background-image: url("https://s3-us-west-2.amazonaws.com/monbattle/images/speech-bubble-blue.png?X-Amz-Date=20141218T011430Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=845b26c0e8d12f43dd42d991c2a6da77f5ea289a755eba6a47ea2bf7e78ed615&X-Amz-Credential=ASIAIG4NS2BLCT3UE3ZQ/20141218/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEPf//////////wEakAIWBEI6A9pROr7PdR6ccHgciolRwKIIDMRxtbagmDiTztASIfp2C8XWdzjTS6Y/C/ahzb4MbBvlDGfVrkzvCufgucnnstFjpOGGdbRMjeXRw8qA35SJ6JHbpoVF9EWB70hbsnjB6xctheXXn47c56ktO38ZnoiqYlZc1S/A32WaQGZl6a/rrmlPetMlK/Z4sMbten2TCwP9HSZDOZ85zlJEX8hV7ceVMHwzBb%2BgnsUup49uKh6Kp4UA2LoKp2bi7C%2Buod1qOjrgpx/BfEr/snkfd7nJZXFPiFGIaA/HbasC%2Bv3uju4PPtxqXg%2BOb2Vc6nckINx/aoTwC3TxGY4R4cXxQWqk3oL8rpsJSeUog/4CYSC76sekBQ%3D%3D");
    background-size: cover;
    top: 369px;
    font-size: 120%;
    font-weight: bold;
    span {
      display: block;
      position: relative;
      top: 20px;
      margin-left: 98px;
      margin-bottom: 8px;
    };
  };
};


.store-overlay {
  background:rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  text-align: center;
  z-index: -10;
  opacity: 0;
  transition: opacity 1s;
};

.roll-message {
  position: relative;
  background: #353434;
  top: 248px;
  height: 70px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
};











