div.store-front {
  height: 600px;
  width: 960px;
  background: #D0D0D0;
  position: relative;
  left: 20px;
  top: 20px;
  margin-bottom: 20px;
};

div.ability-showoff {
  position: relative;
  background: #BFEFFF;
  height: 450px;
  width: 450px;
  top: 81px;
  left: 495px;
};

div.ability-latest {
  position: absolute;
  background: #BFEFFF;
  height: 160px;
  width: 775px;
  top: 296px;
  left: 90px;
};

.showcase {
  text-align: center;
  display: inline-block;
  height: 130px;
  width: 150px;
  margin: 10px 20px 0px;
};

.king-roll {
  position: relative;
  top: 470px;
  left: 400px;
  width: 182px;
  height: 70px;
};

.ability-detail {
  position: absolute;
  text-align: center;
  top: 152px;
  left: 356px;
  background: #BFEFFF;
  height: 120px;
  width: 240px;
};

.announcement {
  position: absolute;
  text-align: center;
  background: #BFEFFF;
  height: 60px;
  width: 500px;
  top: 52px;
  left: 225px;
};

.store-overlay {
  background:rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  text-align: center;
  z-index: 10000;
  display: none;
};

.roll-popup {
  position: absolute;
  top: 248px;
  left: 355px;
}







