=form_for [@personality, @thought], remote: true do |f|
  .form-group
    h4 Add a New Comment this Persona can say!
    =f.text_area :comment, class: 'form-control'
    =f.submit class: 'btn btn-primary'