| $('#thought_#{dom_id(@personality)}').prepend("#{j render partial: "/thoughts/thought", locals: {thought: @thought, personality: @personality}}");
| $('##{dom_id(@thought)}').effect("highlight");
-@thought = Thought.new
| $('.form-control').val("");
| $(".thought-form").html("#{j render "/thoughts/form"}")