| $(".thoughts").prepend("#{j render partial: "/thoughts/thought", locals: {thought: @thought, personality: @personality}}");
| $("##{dom_id(@thought)}").effect("highlight");
| $('#thought_comment').val("");
-@thought = Thought.new
| $(".thought-form").html("#{j render "/thoughts/form"}")