doctype html
html
  head
    title Monbattle
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    =render "battles/single_ability_img"
    .main-content
      =render partial: "layouts/admin"
      -if flash[:notice]
        div class='alert alert-success'
          =flash[:notice]
      -elsif flash[:alert]
        div class='alert alert-danger'
          =flash[:alert]
      -if params[:controller] == 'home'
        =yield
      -else
        .container-fluid
          =yield