| $(".party_name").effect("highlight");
| $(".party_name").html("#{j render partial: "parties/party_name"}");
| $("##{dom_id(@monster)}").effect("highlight");
-@member = Member.new
| $(".member_#{dom_id(@monster)}").fadeOut(1000, function() { $(".member_#{dom_id(@monster)}").html("#{j render partial: "/members/info", locals: {monster: @monster}}").fadeIn(1000) });



/ $('.member_monster_40').fadeOut(1000, function() { $('.member_monster_40').html("Haters goina Hate").fadeIn(1000) });
/ | $(".member_#{dom_id(@monster)}").html("#{j render partial: "/members/info", locals: {monster: @monster}}");

