<div class="jumbotron">
  <h1>This is where the story is made</h1>
  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-default cut-scene-form-unfold">
    Cut-scene form
  </a>
  <p></p>
  <div id="collapseOne" class="panel-collapse collapse">
    <%= render partial: "form", locals: {cut_scene: @cut_scene} %>
  </div>
</div>
<p></p>
<div class="cut_scenes">
  <%= render @cut_scenes %>
</div>

